<div class="content" >
  <h2>ADMIN CONTROL PANEL</h2>

  <div>
  <%= link_to "Plane Controls", new_plane_path %>
  |
  <%= link_to "Flight Controls", new_flight_path %>
  |
  <%= link_to "Logout", login_path, method: 'delete' %>
  <div/>

<div/>
